venv-runtime/
venv-dev/
venv-lint/
venv-standalone/
venv-docs/
/.artifacts/
.pytest_cache/
.ruff_cache/
.mypy_cache/
**/__pycache__/
*.py[cod]
.coverage
coverage.xml
htmlcov/
build/
dist/
/site/
*.egg-info/
.remote-ssh-mcp/
